@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    max-width: 1340px;
}

.osn {
    background-color: #E5E5E5;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head p:nth-child(1) a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    text-decoration: none;
    max-width: 106px;
    max-height: 54px;
}

.head p a span {
    color: #939393;
}

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head ul li {
    display: inline-block;
    padding: 15px;
}

.head ul a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-height: 30px;
    color: #263238;
}

.head p:nth-child(3) a {
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    box-sizing: border-box;
    max-width: 220px;
    max-height: 70px;
    border: 2px solid #263238;
    border-radius: 5px;
    text-align: center;
    padding: 17px 57px 17px 57px;
}