body {
    background-color: #e2e2e2;
}

.osn {
    width: 918px;
    margin: top 23px;
}

.head img {
    width: 76px;
    height: 67px;
    float: left;
    margin-left: 11px;
}

.SB {
    font-size: 45px;
    font-style: normal;
    letter-spacing: -2.7px;
}

.smart {
    color: #000000;
    font-family: "Arial-BoldMT";
    font-weight: 400;
}

.business {
    color: #479fb1;
    font-family: "Verdana - Bold";
    font-weight: 700;
}

.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    border: #000000;
    align-content: center;
}

.menu ul li {
    flex-grow: 1;
}

.menu a {
    display: block;
    text-align: center;
    border: 1px solid #cccccc;
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    font-family: "Bicubik";
    background-color: #e8e8e8;
    padding: 20px;
}

.menu ul li:nth-child(1) a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu ul li:nth-child(5) a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu a:hover {
    text-shadow: 1px 1px 0 #000000;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #318ea3 90%, #469eb1 100%);
}

.pic div:nth-child(1) {
    display: inline-block;
    margin-top: 20px;
    vertical-align: -145px;
}

.pic div:nth-child(2) {
    display: inline-block;
    text-align: center;
}

.pic div:nth-child(2) p:nth-child(1) {
    font-family: Verdana;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1.25px;
    margin-bottom: 0px;
}

.pic div:nth-child(2) p:nth-child(2) {
    font-family: "Arial-BoldMT";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-top: 0px;

}

.pic div:nth-child(2) a {
    background-image: linear-gradient(to bottom, #318ea3 90%, #469eb1 100%);
    width: 210px;
    height: 53px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "MYRIADPRO-REGULAR";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.75px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 26px;
    padding-right: 18px;
    border-radius: 10px;
    text-decoration: none;

}

.secpart {
    background-color: white;
}

.secpart ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.secpart ul li {
    flex-grow: 1;
    width: 100%;
}

.secpart p {
    font-size: 17px;
    text-align: left;
    color: #318ea2;
    font-family: "Arial-BoldMT";
    font-weight: 700;
    line-height: 18px;
}

.secpart span {
    font-family: "Arial MT";
    line-height: 18px;
    text-align: left;
    font-size: 17px;
}

.secpart a {
    background-color: #479fb1;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    padding: 2%;
}

.secpart a:hover {
    background-color: #cccccc;
}