@font-face {
    font-family: "MYRIADPRO-BOLD";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/MYRIADPRO-BOLD.woff") format("opentype");
}

@font-face {
    font-family: "Arial-BoldMT";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/Arial-BoldMT.otf") format("opentype");
}

@font-face {
    font-family: "Bicubik";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/Bicubik.otf") format("opentype");
}

@font-face {
    font-family: "MYRIADPRO-BOLD";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/MYRIADPRO-BOLD.otf") format("opentype");
}

@font-face {
    font-family: "Arial MT";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/ARIALMT.ttf") format("ttf");
}