@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/GolosTextVariableFontwght.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins900";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/GolosTextBlack.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins700";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/GolosTextBold.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins800";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/GolosTextExtraBold.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins500";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/GolosTextMedium.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins400";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/GolosTextRegular.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins600";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/GolosTextSemiBold.ttf") format("ttf");
}